title { align-content: center; text-align: center; }
body { background-color: #ffffff; color: #666666; 
      background-image: url (sunset.jpg); text-align: left; }
    {
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h1 { background-color: #000033; color: #ffffff; text-align: center; }
    {
	font-family: Georgia,Times,Times New Roman,serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h2 { color: #3399cc; font-size: xx-large; }
    footer { text-align: center; }
.feature { color: #3399cc; }
nav { background-color: #90c7e3; color: #3399cc; wrapper div box-shadow: .80; text-align: center }
dt { color: #000033; }
.resort { color: #5c7fa3; }