body { background-color: #ffffff; color: #666666; }
h1 { background-color: #000033; color: #ffffff; }
nav { background-color: #90c7e3; color: #3399cc; }
h3 { color: #000033; }
.resort { color: #5c7fa3; }